    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <a id="maillink" class="foot-item" href="mailto:email@nospam.com" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
                <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl  }}" target="_blank"><span class="octicon octicon-rss"></span></a>
                <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl  }}"><span class="octicon octicon-link-external"></span></a>
                &nbsp;
                <span class="word-keep">&copy; Razvan Popovici, PhD</span>
                
                <script>document.getElementById("maillink").href = "mai"+"lto:"+"razvnpp"+String.fromCharCode(64)+"gmai"+"l.com";</script>
        </div>
    </footer>
